
.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);  
    border-radius: 10px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #090501; 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px; 
    border-radius: 5px;
    display: inline-block; 
}

.start-button {
    text-decoration: none;
    background-color: #4caf50; /* Green button background */
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.start-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

.score {
    font-size: 24px;
    margin-top: 20px;
    color: #8B4513; /* Brown font color */
}

.spider {
    width: 150px; 
    height: 150px; 
    position: absolute;
    animation: moveSpider 80s infinite linear;
}

@keyframes moveSpider {
    0% {
        transform: translate(-100px, 0); /* Start from the left side */
    }
    25% {
        transform: translate(100px, 400px); /* Move diagonally */
    }
    50% {
        transform: translate(700px, 0); /* Move to the right side */
    }
    75% {
        transform: translate(200px, -200px); /* Move diagonally */
    }
    100% {
        transform: translate(-600px, 0); /* Return to the left side */
    }
}


.scoreboard {
    background-color: #8B4513; /* Dark brown background */
    color: #fff; /* White font color */
    font-weight: bold; /* Bold font */
    padding: 10px; /* Padding for the scoreboard */
    text-align: center;
}

.score {
    font-size: 24px;
    color: #fff;
}

.game-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.cursor {
    width: 250px; 
    height: 250px; 
    position: fixed;
    background-image: url('/hammer_0.png');
    background-size: cover;
    pointer-events: none;
}

.spiritual {
    cursor: none;
}

.spider {
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url('/spider.gif');
    background-size: cover;
}


